# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Data and logs
*.log
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Docker
*.pid

# Jupyter
*.ipynb_checkpoints/


# Ignore secrets (if any)
.env
